body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1{
	text-align: center;
	
}
.container{
	width: auto ;
	height: auto;
	margin: 50px auto 0;
	display: table;
	box-sizing: border-box;
}
.row{
	margin: 30px 0;

}
.column{
	background: #999999;
	display: table-cell;
	padding: 10px;
	width: 30%;
	text-align: center;
	color: 
	vertical-align: middle;
	border-right: 30px solid white;
	border-left: 30px solid white
}
.column section{
	float: right;
	border: 3px solid black;
	padding: 4px;
	background-color: wheat;
	font-size: 19px;
}
/*I CAN'T ADD MEDIA QUERIES NEED SOME HELP*/
/*For desktop */
@media (min-width: 992px){
	

}
}
/*For Tablet */
@media (min-width: 768px) and (max-width: 991px){

}
/*For Mobile*/
@media (min-width: 767px) {

}